/* Modo alto contraste (Preto e Branco) */
.alto-contraste {
    background-color: #000000;
    color: #ffffff;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.alto-contraste input, .alto-contraste button {
    background-color: #333333;
    color: #ffffff;
}

.alto-contraste a {
    color: #ffffff;
}

.alto-contraste :focus {
    outline: 3px solid #ffffff;
}
